p {
    text-indent: 20px;
    text-align: justify;
    line-height: 25px;
    margin-bottom: 20px;
}

ol.spaced li, ul.spaced li {
    line-height: 30px;
    margin-left:30px;
}
div.article ol li {
    font-weight: bold;
}

div.article ol li span {
    line-height: 30px;
    font-weight: normal;
}

div.article hr.article {
    margin: 0 0 5px 0;
}

div.article table th {
    text-align: right;
    margin-right: 5px;
    padding:3px;
}

div.article h3 {
    margin-top: 20px;
}

#cronograma, #cronograma th, #cronograma td {
    border: 1px solid black;
    padding: 5px;
}

#cronograma th, #cronograma td  {
    width: 115px;
    height: 3.5em;
}

#cronograma td, #cronograma th {
    text-align: center;
}

#cronograma th.atv {
    text-align: right;
}

#cronograma {
    margin:auto;
}
